* {
	margin: 0px;
	padding: 0px;
}
body {
	position: relative;
}
aside {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}
.sidebar_menu {
	background-color: #191f2d;
	width: 280px;
	height: 100%;
}
.sidebar_background {
	background-image: url(../img/black_background.png);
}
.sidebar_menu_head {
	height: 69px;
	border-bottom: 1px solid #1e2a35;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
}
.sidebar_menu_bottom {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}
.sidebar_menu_bottom_top {
	margin: 30px auto 50px 25px;
	font-size: 16px;
	font-family: MuseoSansCyrl normal;
	color: white;
	min-height: calc(100vh - 201px);
}
#score {
	font-family: MuseoSansCyrl Extra light;
}
.sidebar_menu_bottom_top_container {
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
	cursor: pointer;
}
img[alt='avatar'] {
	width: 28px;
	height: 28px;
	margin-top: 5px;
	margin-right: 15px;
}
.sidebar_menu_bottom_top_items {
	margin-left: 70px;
	margin-bottom: 50px;
	color: white;
	font-size: 16px;
	font-family: MuseoSansCyrl Extra light;
}
.sidebar_menu_bottom_top_items > p {
	margin-bottom: 20px;
	cursor: pointer;
}
.sidebar_menu_bottom_top_items > p:last-child {
	margin-bottom: 0px;
}
.sidebar_menu_bottom_top_items_bottom {
	margin-left: 70px;
	font-size: 14px;
	font-family: MuseoSansCyrl Extra light;
	color: white;
}
.sidebar_menu_bottom_top_items_bottom > p {
	cursor: pointer;
	margin-bottom: 20px;
}
.sidebar_menu_bottom_top_items_bottom > p:last-child {
	margin-bottom: 0px;
}
.sidebar_menu_bottom_bottom {
	width: 100%;
	height: 50px;
	border-top: 1px solid #1e2a35;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sidebar_menu_bottom_bottom_flag {
	width: 50px;
	height: 100%;
	border-right: 2px solid #1e2a35;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.sidebar_menu_bottom_bottom_flag > img {
	width: 22px;
	height: 14px;
	cursor: pointer;
}
.sidebar_menu_bottom_bottom_sound {
	height: 100%;
	width: 50px;
	border-left: 2px solid #1e2a35;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.sidebar_menu_bottom_bottom_exit {
	height: 100%;
	width: 50px;
	border-left: 2px solid #1e2a35;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.sidebar_menu_bottom_bottom_container {
	height: 100%;
	display: flex;
	flex-direction: row;
}










header {
	width: 100%;
	height: 70px;
	background-color: #191f2d;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header_left {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
}
.header_right {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-end;
}
.menu_button_container {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 100%;
	width: 70px;
}
img[alt='menu'], img[alt='close'] {
	width: 17px;
	height: 17px;
	padding-right: 23px;
	padding-left: 23px;
	cursor: pointer;
}
img[alt='binany'] {
	margin-left: 45px;
}
#replenish {
	font-family: MuseoSansCyrl bold;
	font-size: 14px;
	color: white;
	width: 170px;
	height: 44px;
	background-color: #2dab41;
	margin-right: 15px;
	margin-left: 22px;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	border: 1px solid #2dab41;
	border-radius: 35px;
}
img[alt='down_drop'] {
	margin-right: 20px;
	margin-left: 14px;
	height: 7px;
}
.drop_menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	position: relative;
}
.drop_menu > p {
	color: white;
	font-family: MuseoSansCyrl light;
	font-size: 14px;
	margin-left: 25px;
}
.drop_menu > p > span {
	font-family: MuseoSansCyrl bold;
	font-size: 18px;
}
main {
	width: 100%;
	background-color: #f5f5f5;
}
nav {
	width: 1070px;
	display: flex;
	flex-direction: row;
	padding-top: 30px;
	margin: auto;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
.nav_left {
	display: flex;
	flex-direction: row;
}
.nav_left > p {
	font-family: MuseoSansCyrl normal;
	font-size: 14px;
	color: #191f2d;
	padding-left: 21px;
	padding-right: 21px;
	padding-bottom: 23px;
	border-bottom: 2px solid #d0d8e2;
}
.nav_left > p:hover {
	border-color: #008aff;
}
.nav_right {
	font-family: MuseoSansCyrl light;
	font-size: 14px;
	color: #191f2d;
	padding-bottom: 23px;
	border-bottom: 2px solid #d0d8e2;
	width: 100%;
}
.nav_right > p {
	text-align: right;
}
.main_container {
	width: 1070px;
	background-color: white;
	border: 1px solid white;
	margin: 25px auto auto;
	border-radius: 10px;
}
.main_content {
	width: 970px;
	margin: 45px auto 60px;
}
.drop_menu_content {
	position: absolute;
	width: 310px;
	height: 210px;
	border: 1px solid #11151f;
	border-radius: 8px;
	top: 85px;
	right: -30px;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
	display: none;
}
.drop_menu_content_top {
	width: 100%;
	height: 60%;
	border-bottom: 1px solid #11151f;
	display: flex;
	flex-direction: column;
	background-color: #191f2d;
	border-top: 1px solid #191f2d;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.drop_menu_content_bottom {
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #212632;
	border-bottom: 1px solid #212632;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.drop_menu_content_top_text_1 {
	color: #ff6c00;
	font-family: MuseoSansCyrl normal;
	font-size: 14px;
	margin: 25px auto 16px 43px;
	font-weight: bold;
}
.drop_menu_content_top_text_2 {
	color: #566476;
	font-size: 14px;
	font-family: MuseoSansCyrl normal;
	margin-bottom: 5px;
}
.drop_menu_content_top_text_2 ~ p {
	font-family: MuseoSansCyrl bold;
	font-size: 18px;
	color: white;
	font-weight: bolder;
}
#drop_menu_content_top_line {
	display: flex;
	flex-direction: row;
}
#drop_menu_content_top_line > div {
	margin-left: 50px;
}
.drop_menu_content_top_text_3 {
	color: #ff6c00;
	font-family: MuseoSansCyrl normal;
	font-size: 14px;
	margin: 20px auto 15px 43px;
	font-weight: bold;
}
.drop_menu_content_top_text_4 {
	font-family: MuseoSansCyrl bold;
	font-size: 18px;
	color: white;
	font-weight: bolder;
	margin-left: 43px;
}











#payment {
	font-family: MuseoSansCyrl light;
	font-size: 18px;
	color: #191f2d;
	margin-bottom: 60px;
}
.main_content_text {
	font-family: MuseoSansCyrl normal;
	font-size: 14px;
	color: #191f2d;
	margin-bottom: 20px;
	margin-top: 50px;
}
.main_content > img {
	cursor: pointer;
}
.cards_container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.cards_container > div, #mcard {
	display: flex;
	width: 210px;
	height: 100px;
	cursor: pointer;
	border: 2px solid #e7ebf0;
	border-radius: 10px;
	background-color: white;
	align-items: center;
	justify-content: center;
}
#mcard:hover {
	border-color: #ff6c00;
}
.cards_container > div:hover {
	border-color: #ff6c00;
}




@keyframes DropMenu {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes BackDropMenu
{
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/*////// Fonts including //////*/
@font-face {
	src: url(fonts/MuseoSansCyrl 900.ttf);
	font-family: MuseoSansCyrl bold;
}
@font-face {
	src: url(fonts/MuseoSansCyrl 700.ttf);
	font-family: MuseoSansCyrl normal;
}
@font-face {
	src: url(fonts/MuseoSansCyrl 500.otf);
	font-family: MuseoSansCyrl light;
}
@font-face {
	src: url(fonts/MuseoSansCyrl 300.ttf);
	font-family: MuseoSansCyrl Extra light;
}